/* Enter your custom styles here */

.RegoleHbox1 {
    margin-left: 25rem!important;
}

.RegoleButton1 {
    margin-left: 9rem!important;
}

.RegoleButton2 {
    margin-left: 0.5rem!important;
}

.textstyle {
    font-size: xx-large !important;
}

.textstyle2 {
    font-size: x-large !important;
}